@charset "utf-8";

*{box-sizing: border-box; margin:0 }

body {
    font-family:"맑은 고딕", "굴림";
    background-color:#FFF; color:222328;
}

#container {
    width:1000px; margin:auto;
    display: flex;
}

#header {
    width:200px;
    background-color:#b4a4e5;
}

#logo {
    margin-bottom: 20px;
}

#navi {
    width:100%;
    padding:5px;
}

#navi ul {
    list-style: none; padding:0;
}

a { text-decoration: none; color:#222328 }

.main {
    background:#c6a4ed;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2rem;
}

.main:hover{ background:#26e241 }

.subMenu {
    background:#FFF;
    font-size:1rem;
    display: none;
}

.sub:hover { background:#b4a4e5 }

#contents { width:800px }

#secB { 
    width:100%;
    height:350px;
    position: relative;
}

.slide {
    position: absolute;
    top:0; left:0;
    display:none;  
}

#secC {
    width:100%;
    height:200px;
    display: flex; flex-wrap: wrap;
    background:#74e23b;
}

#box1 {
    width:260px;
    margin-right:10px;
}

.button {
    line-height: 30px;
    border:none;
    cursor: pointer;   
}

.btn2{
    background:#999;
}

#notice {
    list-style: none;
    padding:0;
    background:#FFF;
    padding:2px;
}

.list {
    line-height: 2.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.text:hover { text-decoration:underline }

#gallery {
    width:260px;
    height: 200px;
    margin-right: 10px;
}

#imgBox {
    width:100%;
    height: 180px;
    background:#FFF;
    display: flex;
}

#imgBox img { 
    width:80%;
    height:80%;
    display: block;
}

#box2{ width:260px }

#box2 img { 
    width:100%;
    height: 100%;
    display: block;
}

#foot {
    width:100%;
    height:100px;
    display: flex;
}

#content1 {
    width:600px;
    line-height: 3rem;
    text-align: center;
}

#content2 {
    width:200px;
    display: flex;
    flex-direction: column;
}

#sns {
    background:yellow;
    line-height: 
}

#family {
    border:1px solid green;
}





